;; This source file is in EDN only for editing purposes. It should be
;; transformed to JSON or YAML as soon as it is installed. It should be stored
;; in a classpath accessible location, to reduce deployment constraints.
{:openapi "3.0.2"

 :info
 {:version "1.0.0"
  :title "Site API"
  :description
  "Managing Site APIs, users, roles, and policies."

  :contact
  {:name "Webmaster"}}

 :servers [{:url "/_site"}]

 :security {"developers" []}

 :paths
 {"/user"
  {:get
   {:summary "Return information about the currently logged in user"
    :operationId "getUserDetails"
    :tags ["Users"]
    :responses
    {200
     {:juxt.site.alpha/query
      #juxt.site.alpha/as-str
      {:find [id username name email (distinct role) auth-scheme]
       :strs [id username name email roles auth-scheme]
       :where [[:subject :juxt.pass.alpha/user user]
               [:subject :juxt.pass.alpha/auth-scheme auth-scheme]
               [user :crux.db/id id]
               [user :juxt.pass.alpha/username username]
               [user :name name]
               [user :email email]
               [mapping :juxt.site.alpha/type "UserRoleMapping"]
               [mapping :juxt.pass.alpha/assignee user]
               [mapping :juxt.pass.alpha/role role]]
       :limit 1}
      :juxt.site.alpha/singular-result? true

      :content
      {"application/json"
       {:schema {"type" "object"}}}}}}}

  "/users/"
  {:get
   {:summary "Returns a list of all the users you're allowed to view"
    :operationId "findUsers"
    :tags ["Users"]

    :responses
    {200
     {:juxt.site.alpha/query
      #juxt.site.alpha/as-str
      {:find [(pull e [*]) username]
       :strs [user username]
       :where [[e :juxt.site.alpha/type "User"]
               [e :juxt.pass.alpha/username username]]
       :order-by [[username :asc]]}
      :juxt.site.alpha/extract-entry "user"

      :content
      {"application/json"
       {:schema {"type" "array"
                 "items" {"$ref" "#/components/schemas/IdentifiedUser"}}}

       "text/html;charset=utf-8"
       {:title "Users"
        :type "edn-table"
        :schema {"type" "array"
                 "items" {"$ref" "#/components/schemas/IdentifiedUser"}}}}}}}}

  "/users/{id}"
  {:parameters
   [{:name "id" :in "path" :required true
     :summary "User id"
     :schema {:type "string"}
     :x-juxt-site-inject-property "juxt.pass.alpha/username"}]

   :get
   {:summary "Returns a given user"
    :operationId "findUserById"
    :tags ["Users"]

    :responses
    {200
     {:summary "Single identified user"
      :content
      {"application/json"
       {:schema {"$ref" "#/components/schemas/User"}}

       "text/html;charset=utf-8"
       {:title "User"
        :schema {"$ref" "#/components/schemas/User"}}}}}}

   :put
   {:summary "Upserts a user"
    :operationId "putUser"
    :tags ["Users"]
    :requestBody
    {:required true
     :content
     {"application/json"
      {:schema {"$ref" "#/components/schemas/User"}
       :example {"type" "User"
                 "name" "John Doe"
                 "email" "john@example.com"}}}}

    :responses
    {201 {:description "User successfully created"
          :content {"text/plain;charset=utf-8" {}}}

     204 {:description "User successfully updated"
          :content {"text/plain;charset=utf-8" {}}}}}

   :delete
   {:summary "Deletes a user"
    :operationId "deleteUser"
    :tags ["Users"]

    :responses
    {204 {:description "User successfully deleted"
          :content {"text/plain;charset=utf-8" {}}}}}}

  "/users/{id}/password"
  {:parameters
   [{:name "id" :in "path" :required true
     :description "User id"
     :schema {:type "string"}}]

   :put
   {:summary "Resets a password for a given user"
    :operationId "putPassword"
    :tags ["Users"]
    :requestBody
    {:required true
     :content
     {"application/json"
      {:schema {"$ref" "#/components/schemas/Password"}
       :example {"type" "Password"
                 "password" "TigerBuffalo42^&"}}}}

    :responses
    {200 {:description "Password successfully updated"
          :content {"text/plain;charset=utf-8" {}}}
     201 {:description "Password successfully created"
          :content {"text/plain;charset=utf-8" {}}}}}}

  "/roles/"
  {:get
   {:summary "Returns all roles"
    :operationId "findRoles"
    :tags ["Roles"]
    :parameters
    [{:name "limit" :in "query" :required false :default 100
      :description "Maximum number of results to return"
      :schema {:type "integer"}}]
    :responses
    {200 {:juxt.site.alpha/query
          #juxt.site.alpha/as-str
          {:find [e]
           :where [[e :juxt.site.alpha/type "Role"]]
           :limit {:in "query" :name "limit"}}

          :content
          {"application/json"
           {:schema
            {:type "array"
             :items {"$ref" "#/components/schemas/IdentifiedRole"}}}

           "text/html;charset=utf-8" {:title "Roles"
                                      :type "edn-table"}}}}}}

  "/roles/{id}"
  {:parameters
   [{:name "id" :in "path" :required true
     :description "Role id"
     :schema {:type "string"}}]

   :get
   {:summary "Returns a given role"
    :operationId "findRoleById"
    :tags ["Roles"]
    :responses
    {200 {:description "Single identified role"
          :content
          {"application/json" {:schema {"$ref" "#/components/schemas/Role"}}

           "text/html;charset=utf-8" {:title "Role"}}}}}

   :put
   {:summary "Upserts a role"
    :operationId "putRole"
    :tags ["Roles"]
    :requestBody
    {:required true
     :content
     {"application/json" {:schema {"$ref" "#/components/schemas/Role"}}}}
    :responses
    {200 {:description "Role successfully updated"
          :content
          {"text/plain;charset=utf-8" {}}}
     201 {:description "Role successfully created"
          :content
          {"text/plain;charset=utf-8" {}}}}}}

  "/roles/{id}/users/{user}"
  {:parameters
   [{:name "id" :in "path" :required true
     :description "Role id"
     :schema {:type "string"}}
    {:name "user" :in "path" :required true
     :description "Username"
     :schema {:type "string"}}]

   :get
   {:summary "Returns role mappings"
    :operationId "findUserRoleMapping"
    :tags ["Roles"]

    :responses
    {200 {:description "User-role mapping"
          :content
          {"application/json" {:schema {"$ref" "#/components/schemas/UserRoleMapping"}}
           "text/html;charset=utf-8" {:title "User Role Mapping"}}}}}

   :put
   {:summary "Upserts a user-role mapping"
    :operationId "putUserRoleMapping"
    :tags ["Roles"]
    :requestBody
    {:required true
     :content
     {"application/json" {:schema {"$ref" "#/components/schemas/UserRoleMapping"}}}}
    :responses
    {200 {:description "UserRoleMapping successfully updated"
          :content
          {"text/plain;charset=utf-8" {}}}
     201 {:description "UserRoleMapping successfully created"
          :content
          {"text/plain;charset=utf-8" {}}}}}}

  "/rules/"
  {:get
   {:summary "Returns a list of all the rule"
    :tags ["Rules"]
    :responses
    {200
     {:juxt.site.alpha/query
      #juxt.site.alpha/as-str
      {:find [e]
       :where [[e :juxt.site.alpha/type "Rule"]]}

      :content
      {"application/json"
       {:schema {"type" "array"
                 "items" {"$ref" "#/components/schemas/IdentifiedRule"}}}
       "text/html;charset=utf-8"
       {:title "Rules"
        :type "edn-table"
        :schema {"type" "array"
                 "items" {"$ref" "#/components/schemas/IdentifiedRule"}}}}}}}

   :post
   {:juxt.site.alpha/post-fn juxt.site.alpha.rules/post-rule
    :tags ["Rules"]
    :requestBody
    {:required true
     :content
     {"application/json"
      {:schema {"$ref" "#/components/schemas/Rule"}}}}}}

  "/rules/{id}"
  {:parameters
   [{:name "id" :in "path" :required true
     :description "Rule id"
     :schema {:type "string"}}]

   :get
   {:summary "Returns a given rule",
    :tags ["Rules"]
    :responses
    {200
     {:description "Single identified rule"
      :content
      {"application/json"
       {:schema {"$ref" "#/components/schemas/Rule"}}

       "text/html;charset=utf-8"
       {:title "Rule"
        :schema {"$ref" "#/components/schemas/Rule"}}}}}}

   :put
   {:summary "Upserts a rule"
    :tags ["Rules"]
    :requestBody
    {:required true
     :content
     {"application/json"
      {:schema {"$ref" "#/components/schemas/Rule"}}}}

    :responses
    {200 {:description "Rule successfully updated"
          :content
          {"text/plain;charset=utf-8" {}}}
     201 {:description "Rule successfully created"
          :content
          {"text/plain;charset=utf-8" {}}}}}}

  "/triggers/"
  {:get
   {:summary "Returns a list of all the trigger"
    :tags ["Triggers"]
    :responses
    {200
     {:juxt.site.alpha/query
      #juxt.site.alpha/as-str
      {:find [e]
       :where [[e :juxt.site.alpha/type "Trigger"]]}

      :content
      {"application/json"
       {:schema {"type" "array"
                 "items" {"$ref" "#/components/schemas/IdentifiedTrigger"}}}
       "text/html;charset=utf-8"
       {:title "Triggers"
        :type "edn-table"
        :schema {"type" "array"
                 "items" {"$ref" "#/components/schemas/IdentifiedTrigger"}}}}}}}}

  "/triggers/{id}"
  {:parameters
   [{:name "id" :in "path" :required true
     :description "Trigger id"
     :schema {:type "string"}}]

   :get
   {:summary "Returns a given trigger",
    :tags ["Triggers"]
    :responses
    {200
     {:description "Single identified trigger"
      :content
      {"application/json"
       {:schema {"$ref" "#/components/schemas/Trigger"}}

       "text/html;charset=utf-8"
       {:title "Trigger"
        :schema {"$ref" "#/components/schemas/Trigger"}}}}}}

   :put
   {:summary "Upserts a trigger"
    :tags ["Triggers"]
    :requestBody
    {:required true
     :content
     {"application/json"
      {:schema {"$ref" "#/components/schemas/Trigger"}}}}

    :responses
    {200 {:description "Trigger successfully updated"
          :content
          {"text/plain;charset=utf-8" {}}}
     201 {:description "Trigger successfully created"
          :content
          {"text/plain;charset=utf-8" {}}}}}}

  "/variants/"
  {:post
   {:juxt.site.alpha/post-fn juxt.site.alpha.handler/post-variant
    :summary
    "Create a new association between a resource and a variant representation."
    :description "This is used when there are multiple
    representations (variants) for a resource which are subject to
    content-negotiation."
    :tags ["Content Negotiation"]
    :requestBody
    {:required true
     :content
     {"application/json"
      {:schema {"$ref" "#/components/schemas/Variant"}}}}
    :responses
    {201 {:description "Variant successfully created"
          :content
          {"text/plain;charset=utf-8" {}}}
     204 {:description "Variant successfully updated"}}}}

  "/redirects/"
  {:post
   {:juxt.site.alpha/post-fn juxt.site.alpha.handler/post-redirect
    :tags ["Redirects"]
    :requestBody
    {:required true
     :content
     {"application/json"
      {:schema {"$ref" "#/components/schemas/Redirect"}}}}
    :responses
    {201 {:description "Redirect successfully created"}
     204 {:description "Redirect successfully updated"}}}}

  "/apis/"
  {:get
   {:summary "Returns a list of all the APIs"
    :tags ["APIs"]
    :responses
    {200
     {:juxt.site.alpha/query
      #juxt.site.alpha/as-str
      {:find [e title version description]
       :strs [id title version description]
       :where [[e :juxt.site.alpha/type "OpenAPI"]
               [e :title title]
               [e :version version]
               [e :description description]]}
      :content
      {"application/json"
       {:schema {"type" "array"
                 "items" {"$ref" "#/components/schemas/IdentifiedOpenAPI"}}}

       "text/html;charset=utf-8"
       {:title "Rules"
        :type "edn-table"
        :schema {"type" "array"
                 "items" {"$ref" "#/components/schemas/IdentifiedOpenAPI"}}}}}}}}

  "/resources/"
  {:post
   {:summary "Put a new resource, described by the payload"
    :tags ["Resources"]
    :requestBody
    {:required true
     :content
     {"application/edn" {}}}
    :responses
    {201 {:description "Resource successfully created"}
     204 {:description "Resource successfully updated"}}
    :juxt.site.alpha/post-fn juxt.site.alpha.resources/post-resource}}

  "/apis/{id}"
  {:parameters
   [{:name "id" :in "path" :required true
     :description "API id"
     :schema {:type "string"}}]

   :get
   {:summary "Returns a given OpenAPI document"
    :tags ["APIs"]
    :responses
    {200
     {:description "Single identified API"
      :content
      {"application/json"
       {:schema {"$ref" "#/components/schemas/OpenAPI"}}

       "text/html;charset=utf-8"
       {:title "Rule"
        :schema {"$ref" "#/components/schemas/OpenAPI"}}}}}}

   :put
   {:summary "Upserts an OpenAPI"
    :tags ["APIs"]
    :requestBody
    {:required true
     :content
     {"application/vnd.oai.openapi+json;version=3.0.2"
      {:schema {"$ref" "#/components/schemas/OpenAPI"}}}}

    :responses
    {200 {:description "API successfully updated"
          :content
          {"text/plain;charset=utf-8" {}}}
     201 {:description "API successfully created"
          :content
          {"text/plain;charset=utf-8" {}}}}}}}

 :components
 {:schemas
  {"Identified"
   {"$id" "/schemas/Identified"
    :type "object"
    :description
    "The unique identifier of the document in the database. This is maps
    directly to the crux.db/id attribute."
    :required ["id"]
    :juxt.jinx.alpha/keyword-mappings {"id" "crux.db/id"}
    :properties
    {"id" {:type "string" :format "uri-reference"}}}

   "Named"
   {"$id" "/schemas/Named"
    :type "object"
    :required ["name"]
    :juxt.jinx.alpha/keyword-mappings {"name" "name"}
    :properties
    {"name" {:type "string" :minLength 1}}}

   "Typed"
   {"$id" "/schemas/Typed"
    :type "object"
    :required ["type"]
    :juxt.jinx.alpha/keyword-mappings {"type" "juxt.site.alpha/type"}
    :properties
    {"type" {:type "string" :minLength 1}}}

   "Role"
   {"$id" "/schemas/Role"
    :allOf
    [{"$ref" "#/components/schemas/Named"}
     {"$ref" "#/components/schemas/Typed"}
     {:properties
      {"type" {:const "Role"}
       "description" {:type "string"}}}]}

   "IdentifiedRole"
   {"$id" "/schemas/IdentifiedRole"
    :allOf
    [{"$ref" "#/components/schemas/Identified"}
     {"$ref" "#/components/schemas/Role"}]}

   "User"
   {"$id" "/schemas/User"
    :allOf
    [{"$ref" "#/components/schemas/Named"}
     {"$ref" "#/components/schemas/Typed"}
     {:type "object"
      :required ["email"]
      :juxt.jinx.alpha/keyword-mappings {"email" "email"}
      :properties
      {"type" {:const "User"}
       "email" {:type "string" :format "email"}}}]}

   "IdentifiedUser"
   {"$id" "/schemas/IdentifiedUser"
    :allOf
    [{"$ref" "#/components/schemas/Identified"}
     {"$ref" "#/components/schemas/User"}]}

   "Password"
   {"$id" "/schemas/Password"
    :allOf
    [{"$ref" "#/components/schemas/Typed"}
     {:type "object"
      :required ["password" "user"]
      :juxt.jinx.alpha/keyword-mappings
      {"user" "juxt.pass.alpha/user"
       "password" "juxt.pass.alpha/password-hash"}
      :properties
      {"type" {:const "Password"}
       "user" {:type "string"
               :format "uri-reference"}
       "password" {:type "string"
                   :juxt.jinx.alpha/as "password"
                   :description "The user's password, stored as a hash at rest, and only transmitted in the clear when being set."}}}]}

   "UserRoleMapping"
   {"$id" "/schemas/UserRoleMapping"
    :allOf
    [{"$ref" "#/components/schemas/Typed"}
     {:type "object"
      :required ["assignee" "role" "assigner"]
      :juxt.jinx.alpha/keyword-mappings
      {"assignee" "juxt.pass.alpha/assignee"
       "role" "juxt.pass.alpha/role"
       "assigner" "juxt.pass.alpha/assigner"
       "businessJustification" "juxt.pass.alpha/business-justification"}
      :properties
      {"type" {:const "UserRoleMapping"}
       "assignee" {:type "string" :format "uri-reference"}
       "role" {:type "string" :format "uri-reference"}
       "assigner" {:type "string" :format "uri-reference"}
       "businessJustification"
       {:type "string"
        :description "The reason why the user has been assigned this role"}}}]}

   "Rule"
   {"$id" "/schemas/Rule"
    :allOf
    [{"$ref" "#/components/schemas/Typed"}
     {:type "object"
      :required ["target" "effect"]
      :juxt.jinx.alpha/keyword-mappings
      {"description" "juxt.pass.alpha/description"
       "target" "juxt.pass.alpha/target"
       "effect" "juxt.pass.alpha/effect"
       "limiting-clauses" "juxt.pass.alpha/limiting-clauses"
       "maxContentLength" "juxt.http.alpha/max-content-length"}
      :properties
      {"type" {:const "Rule"}
       "description" {:type "string"}
       "target" {:type "string" :juxt.jinx.alpha/as "edn"}
       "effect" {:type "string" :juxt.jinx.alpha/as "keyword"}
       "limiting-clauses" {:type "string" :juxt.jinx.alpha/as "edn"}
       "maxContentLength" {:type "integer"}}}]}

   "IdentifiedRule"
   {"$id" "/schemas/IdentifiedRule"
    :allOf
    [{"$ref" "#/components/schemas/Identified"}
     {"$ref" "#/components/schemas/Rule"}]}

   "Trigger"
   {"$id" "/schemas/Trigger"
    :allOf
    [{"$ref" "#/components/schemas/Typed"}
     {:type "object"
      :required ["query" "action"]
      :juxt.jinx.alpha/keyword-mappings
      {"description" "juxt.site.alpha/description"
       "query" "juxt.site.alpha/query"
       "action" "juxt.site.alpha/action"}
      :properties
      {"type" {:const "Trigger"}
       "description" {:type "string"}
       "query" {:type "string" :juxt.jinx.alpha/as "edn"}
       "action" {:type "string" :juxt.jinx.alpha/as "keyword"}}}]}

   "IdentifiedTrigger"
   {"$id" "/schemas/IdentifiedTrigger"
    :allOf
    [{"$ref" "#/components/schemas/Identified"}
     {"$ref" "#/components/schemas/Trigger"}]}

   "Variant"
   {"$id" "/schemas/Variant"
    :allOf
    [{"$ref" "#/components/schemas/Typed"}
     {:type "object"
      :required ["resource" "variant"]
      :juxt.jinx.alpha/keyword-mappings
      {"resource" "juxt.site.alpha/resource"
       "variant" "juxt.site.alpha/variant"}
      :properties
      {"type" {:const "Variant"}
       "resource" {:type "string"
                   :format "uri-reference"}
       "variant" {:type "string"
                  :format "uri-reference"}}}]}

   "Redirect"
   {"$id" "/schemas/Redirect"
    :allOf
    [{"$ref" "#/components/schemas/Typed"}
     {:type "object"
      :required ["resource" "location"]
      :juxt.jinx.alpha/keyword-mappings
      {"resource" "juxt.site.alpha/resource"
       "location" "juxt.site.alpha/location"}
      :properties
      {"type" {:const "Redirect"}
       "resource" {:type "string"
                   :format "uri-reference"}
       "location" {:type "string"
                   :format "uri-reference"}}}]}

   "OpenAPI"
   {"$id" "/schemas/OpenAPI"
    :allOf
    [{"$ref" "#/components/schemas/Typed"}
     {:type "object"
      ;; TODO: Use the actual JSON Schema for OpenAPI. Until this is done, there
      ;; won't be any validation on bad OpenAPI definitions.
      :required ["openapi"]
      :properties
      {"type" {:const "OpenAPI"}
       "openapi" {:type "object"}}}]}

   "IdentifiedOpenAPI"
   {"$id" "/schemas/IdentifiedOpenAPI"
    :allOf
    [{"$ref" "#/components/schemas/Identified"}
     {"$ref" "#/components/schemas/OpenAPI"}]}}

  :securitySchemes
  {"developers"                   ; Allow developers to develop against this API
   {"type" "http"
    "scheme" "bearer"
    ;; Belongs in database
    #_"x-juxt-site-access-control-allow-origins"
    #_{"http://localhost:8000"
       {"access-control-allow-methods" [:get]
        "access-control-allow-headers" ["authorization"]}}}}

  }}
