{:linters {:unresolved-symbol {:exclude [(malli.core/=>)]},
           :type-mismatch {:namespaces {juxt.site.actions {check-permissions {:arities {3 {:args [:any
                                                                                                  :set
                                                                                                  {:op :keys,
                                                                                                   :opt {:juxt.site/subject {:op :keys,
                                                                                                                             :req {:xt/id :string}},
                                                                                                         :juxt.site/resource {:op :keys,
                                                                                                                              :req {:xt/id :string}},
                                                                                                         :juxt.site/purpose :string}}],
                                                                                           :ret :any}}},
                                                           allowed-resources {:arities {3 {:args [:any
                                                                                                  :set
                                                                                                  {:op :keys,
                                                                                                   :opt {:juxt.site/subject {:op :keys,
                                                                                                                             :req {:xt/id :string}},
                                                                                                         :juxt.site/purpose :string}}],
                                                                                           :ret :any}}},
                                                           pull-allowed-resource {:arities {4 {:args [:any
                                                                                                      :set
                                                                                                      {:op :keys,
                                                                                                       :req {:xt/id :string}}
                                                                                                      {:op :keys,
                                                                                                       :opt {:juxt.site/subject {:op :keys,
                                                                                                                                 :req {:xt/id :string}},
                                                                                                             :juxt.site/purpose :string}}],
                                                                                               :ret :any}}},
                                                           pull-allowed-resources {:arities {3 {:args [:any
                                                                                                       :set
                                                                                                       {:op :keys,
                                                                                                        :opt {:juxt.site/subject {:op :keys,
                                                                                                                                  :req {:xt/id :string}},
                                                                                                              :juxt.site/purpose :string}}],
                                                                                                :ret :any}}}},
                                        juxt.site.resources.example-users {grant-permission-to-authorize! {:arities {1 {:args [{:op :keys,
                                                                                                                                :req {:username :string}}],
                                                                                                                        :ret :any}}}},
                                        juxt.site.resources.oauth {authorize-response! {:arities {1 {:args [{:op :keys,
                                                                                                             :opt {"scope" :sequential},
                                                                                                             :req {"client_id" :string}}],
                                                                                                     :ret {:op :keys,
                                                                                                           :opt {"access_token" :string,
                                                                                                                 "error" :string}}}}},
                                                                   authorize! {:arities {1 {:args [{:op :keys,
                                                                                                    :opt {"scope" :sequential},
                                                                                                    :req {"client_id" :string}}],
                                                                                            :ret {:op :keys,
                                                                                                  :opt {"access_token" :string,
                                                                                                        "error" :string}}}}}}}}}}
