{:deps
 #{"https://example.org/hospital/actions/register-doctor"
   "https://example.org/hospital/permissions/system/register-doctor"}
 :create
 {:juxt.site/subject-id "https://example.org/subjects/system"
  :juxt.site/action-id "https://example.org/hospital/actions/register-doctor"
  :juxt.site/input
  {:xt/id "{{$id}}"
   :name "Dr. Jack Conway"}}}
