<body>
  <h1>Site Request</h1>

  <div id="summary">
    <h2>Summary</h2>

    <dl>
      <dt>Date</dt><dd><tt>{{ request.date }}</tt></dd>
      <dt>URI</dt><dd><tt>{{ request.requestUri }}</tt></dd>
      <dt>Method</dt><dd><tt>{{ request.method }}</tt></dd>
      <dt>Status</dt><dd><tt>{{ request.status }}</tt></dd>
    </dl>
  </div>

  <div id="graphql">
  </div>

{#
  <p>This is a dump of data gathered for a <strong><tt>{{ ring..request/method|name|upper }}</tt></strong> request that was made to <tt>{{ juxt..site/uri }}</tt> at <tt>{{ juxt..site/date|date:"yyyy-MM-dd HH:mm:ss" }}</tt>.<p>
  <p>After {{ juxt..site/duration-millis }}ms a response was returned with the status code {{ ring..response/status }}.</p>
#}

{#
  <ul>
    <li><a href="#summary">Summary</a></li>
    {% if juxt..site/errors %}<li><a href="#error-traces">Error Traces</a></li>{% endif %}
    {% if juxt..apex..graphql/result %}<li><a href="#graphql-result">GraphQL Result</a></li>{% endif %}
    <li><a href="#full-context">Full Context</a></li>
  </ul>

  {% if juxt..site/errors %}
  <div id="error-traces">
    <h2>Error Traces</h2>
    {% for error in juxt..site/errors %}
    <div>
      <dl>
        <dt>Message</dt>
        <dd><code>{{ error.message }}</code></dd>
        {% if error.ex-data %}
        <dt>Data</dt>
        <dl>{{ error.ex-data|pretty }}</dl>
        {% endif %}
        <dt>Stack</dt>
        <dd><pre>
            {% for el in error.stack-trace %}{{ el }}
            {% endfor %}</pre></dd>
      </dl>
    </div>
    {% endfor %}
    {% endif %}
  </div>

  {% if juxt..apex..graphql/result %}
  <div id="graphql-result">
    <h2>GraphQL Result</h2>
    <h3>Data</h3>
    <pre>
      {{ juxt..apex..graphql/result.data }}
    </pre>
    <h3>Errors</h3>
    <pre>
      {{ juxt..apex..graphql/result }}
    </pre>

    {% for error in juxt..apex..graphql/result.errors %}
    <div>
      <dl>
        <dt>Path</dt>
        <dd>{{ error.path }}</dd>
        <dt>Message</dt>
        <dd>{{ error.message }}</dd>
        <dt>Stack Trace</dt>
        <dd>
          {{ error.stack-trace|str }}
          {% for line in error.stack-trace %}
          <p>{{ line|str }}</p>
          {% endfor %}
        </dd>
      </dl>
    </div>
    {% endfor %}
    </table>
    {% endif %}
  </div>

  #}

  <div id="full-context">
    <h2>Full Context</h2>
    {% debug %}
  </div>

</body>
