{:create
 {:juxt.site/input
  ;; tag::install-system-permissions![]
  {:xt/id "https://example.org/permissions/system/bootstrap"
   :juxt.site/type "https://meta.juxt.site/types/permission"
   :juxt.site/action #{"https://example.org/actions/create-action"
                       "https://example.org/actions/grant-permission"}
   :juxt.site/purpose nil
   :juxt.site/subject "https://example.org/subjects/system"
   }
  ;; end::install-system-permissions![]
  }}
