{:deps
 #{"https://example.org/_site/do-action"
   "https://example.org/subjects/system"
   "https://example.org/actions/grant-permission"}
 :create
 {:juxt.site/subject-id "https://example.org/subjects/system"
  :juxt.site/action-id "https://example.org/actions/grant-permission"
  :juxt.site/input
  {:xt/id "https://example.org/permissions/system/install-not-found"
   :juxt.site/subject "https://example.org/subjects/system"
   :juxt.site/action "https://example.org/actions/install-not-found"
   :juxt.site/purpose nil}}}
