;; Copyright © 2021, JUXT LTD.

{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.10.1"}

        ;; Project skeleton - also see src/config.edn
        integrant/integrant {:mvn/version "0.7.0"}
        aero/aero {:mvn/version "1.1.3"}
        io.aviso/pretty {:mvn/version "0.1.35"}

        ;; XT
        com.xtdb/xtdb-core {:mvn/version "1.20.0"}
        com.xtdb/xtdb-rocksdb {:mvn/version "1.20.0"}
        com.xtdb/xtdb-lucene {:mvn/version "1.20.0"}
        com.xtdb/xtdb-http-server {:mvn/version "1.20.0"}

        ;; Jetty
        ring/ring-jetty-adapter {:mvn/version "1.9.1"}

        ;; Logging
        org.clojure/tools.logging {:mvn/version "1.1.0"}
        org.slf4j/jcl-over-slf4j {:mvn/version "1.7.30"}
        org.slf4j/jul-to-slf4j {:mvn/version "1.7.30"}
        org.slf4j/log4j-over-slf4j {:mvn/version "1.7.30"}
        ch.qos.logback/logback-classic {:mvn/version "1.2.3"
                                        :exclusions [org.slf4j/slf4j-api]}

        ;; Content negotiation
        juxt/pick
        {:git/url "https://github.com/juxt/pick.git"
         :sha "e4b314cb9e94121fe8005c5628f7f33d28cdefd4"}
        #_{:local/root "../pick"}

        juxt/grab
        {:git/url "https://github.com/juxt/grab.git"
         :sha "56711dd236d4b0e5f0fb7f375b38dda221e5236a"
         ;;:local/root "../grab"
         }

        ;; JSON Schema support functions
        jinx/jinx
        {:git/url "https://github.com/juxt/jinx.git"
         :sha "68325edd1c4d5884d78e11f2a31d871a8512893d"}
        #_{:local/root "../jinx"}

        ;; Ring for some utility code
        ring/ring-core {:mvn/version "1.9.1"}

        ;; Passwords
        crypto-password/crypto-password {:mvn/version "0.2.1"}

        ;; Support for Representations
        clj-yaml/clj-yaml {:mvn/version "0.4.0"}
        hiccup/hiccup {:mvn/version "2.0.0-alpha2"}
        metosin/jsonista {:mvn/version "0.2.7"}
        json-html/json-html {:mvn/version "0.4.0"}

        ;; Selmer templating
        selmer/selmer {:mvn/version "1.12.40"}

        ;; REPL highlighting
        mvxcvi/puget {:mvn/version "1.3.1"}

	;; Time
        tick/tick {:mvn/version "0.5.0-RC4"}

        ;; Removing AWS means we now need a direct dependency on this jar for an
        ;; internal Nippy function. This is provided by later versions of XT, so
        ;; we can remove this entry once an upgrade has been achieved.
        pro.juxt.clojars-mirrors.com.taoensso/nippy {:mvn/version "3.1.1"}

        ;; Required for Slack integration
        lt.tokenmill/timewords {:mvn/version "0.5.0"}
        java-http-clj/java-http-clj {:mvn/version "0.4.3"}
        http-kit/http-kit {:mvn/version "2.6.0-alpha1"}

        }

 :aliases
 {:dev
  {:extra-paths ["dev" "test"]
   :extra-deps { ;; Convenience libraries made available during development
                org.clojure/test.check {:mvn/version "0.9.0"}
                org.clojure/alpha.spec {:git/url "https://github.com/clojure/spec-alpha2.git"
                                        :sha "c087ded910b3532a938b37e853df79fc3b9c48c1"}}
   :jvm-opts ["-XX:-OmitStackTraceInFastThrow"
              "-Dclojure.server.site={:port,50505,:accept,juxt.site.alpha.repl-server/repl}"
              "-Dclojure.spec.check-asserts=true"]}

  :test
  {:extra-paths ["dev" "test"]
   :extra-deps
   {lambdaisland/kaocha {:mvn/version "1.0.887"}
    lambdaisland/kaocha-junit-xml {:mvn/version "0.0.76"}}}

  :prod
  {:extra-paths ["prod"]
   ;; nREPL can be useful debugging prod
   :extra-deps {nrepl/nrepl {:mvn/version "0.9.0-beta4"}}}}}
