#kaocha/v1
{:plugins [ ;;:kaocha.plugin.alpha/info
           ;;:kaocha.plugin/cloverage
           ]

 :tests [{:id :test
          :test-paths ["test"]
          :ns-patterns
          ["juxt.site.authorization-test"
           "juxt.site.cors-test"
           "juxt.site.return-test"
           "juxt.site.graphql-compiler-test"
           "juxt.site.form-based-auth-test"
           "juxt.site.eql-datalog-compiler-test"
           "juxt.site.oauth-test"
           "juxt.site.openid-test"
           "juxt.site.package-test"
           ]}]

 :reporter kaocha.report/documentation}
