{:deps #{"https://example.org/actions/register-openid-issuer"
         "https://example.org/permissions/system/register-openid-issuer"}
 :create
 {:juxt.site/subject-id "https://core.example.org/subjects/system"
  :juxt.site/action-id "https://example.org/actions/register-openid-issuer"
  :juxt.site/input
  {:xt/id "{{$id}}"
   :juxt.site/issuer "{{iss}}"}}}
