{:deps #{"https://example.org/actions/whoami"
         "https://example.org/protection-spaces/bearer"}
 :create
 {:juxt.site/input
  {:xt/id "{{$id}}"
   :juxt.site/methods
   {:get {:juxt.site/actions #{"https://example.org/actions/whoami"}}}
   :juxt.site/variant-of "https://example.org/whoami"
   :juxt.http/content-type "application/json"
   :juxt.site/respond
   {:juxt.site.sci/program
    #juxt.pprint
    (let [content (jsonista.core/write-value-as-string *state*)]
      (-> *ctx*
          (assoc :ring.response/body content)
          (update :ring.response/headers assoc "content-length" (str (count (.getBytes content))))))}
   :juxt.site/protection-spaces #{"https://example.org/protection-spaces/bearer"}
   :juxt.site/session-scope "https://site.test/session-scopes/openid"}}}
