{:xt/id "https://juxt.site/packages/openid"
 :description "OpenID Connect"
 :dependencies ["https://juxt.site/packages/core"]
 :parameters
 {"issuer" {:description "Issuer"}
  "client-id" {:description "Client id"}
  "client-secret" {:description "Client secret"}
  "redirect-uri" {:description "Redirect URI"}}
 :resources
 ["https://example.org/openid/login"
  "https://example.org/openid/callback"]}
