{:deps #{"https://example.org/permissions/system/put-session-scope"}
 :create
 {:juxt.site/subject-id "https://example.org/subjects/system"
  :juxt.site/action-id "https://example.org/actions/put-session-scope"
  :juxt.site/input
  {:xt/id "{{$id}}"
   :juxt.site/cookie-name "sid"
   :juxt.site/cookie-domain "https://example.org"
   :juxt.site/cookie-path "/"
   :juxt.site/login-uri "https://example.org/openid/login"}}}
