{:deps #{"https://example.org/actions/oauth/authorize"
         "https://example.org/users/{{username}}"}
 :create
 {:juxt.site/subject-id "https://core.example.org/subjects/system"
  :juxt.site/action-id "https://core.example.org/actions/grant-permission"
  :juxt.site/input
  {:xt/id "https://example.org/permissions/{{username|lower}}-can-authorize"
   :juxt.site/action "https://example.org/actions/oauth/authorize"
   :juxt.site/user "https://example.org/users/{{username|lower}}"
   :juxt.site/purpose nil}}}
