{:deps #{"https://example.org/actions/login"
         "https://example.org/permissions/login"}
 :create
 {:juxt.site/subject-id "https://example.org/subjects/system"
  :juxt.site/action-id "https://example.org/actions/create-action"
  :juxt.site/input
  {:xt/id "https://example.org/actions/create-login-resource"

   :juxt.site.malli/input-schema
   [:map
    [:xt/id [:re "https://example.org/.*"]]
    [:juxt.site/session-scope [:re "https://example.org/.*"]]]

   :juxt.site/prepare
   {:juxt.site.sci/program
    #juxt.pprint
    (let [content-type (-> *ctx*
                           :juxt.site/received-representation
                           :juxt.http/content-type)
          body (-> *ctx*
                   :juxt.site/received-representation
                   :juxt.http/body)]
      (case content-type
        "application/edn"
        (some->
         body
         (String.)
         clojure.edn/read-string
         juxt.site.malli/validate-input
         (assoc
          :juxt.site/methods
          {:get {:juxt.site/actions #{"https://example.org/actions/get-public-resource"}}
           :head {:juxt.site/actions #{"https://example.org/actions/get-public-resource"}}
           :post {:juxt.site/actions #{"https://example.org/actions/login"}}
           :options {:juxt.site/actions #{"https://example.org/actions/get-options"}}}

          :juxt.http/content-type "text/html;charset=utf-8"
          ;; TODO: We could make the HTML content a parameter
          ;; Note: It helps security if the http methods remain unconfigurable.
          :juxt.http/content "
<html>
<head>
<link rel='icon' href='data:,'>
</head>
<body>
<form method=POST>
<p>
Username: <input name=username type=text>
</p>
<p>
Password: <input name=password type=password>
</p>
<p>
<input type=submit value=Login>
</p>
</form>
</body>
</html>
\r\n"))))}

   :juxt.site/transact
   {:juxt.site.sci/program
    #juxt.pprint
    [[:xtdb.api/put *prepare*]]}

   :juxt.site/rules
   [
    [(allowed? subject resource permission)
     [permission :xt/id]]]}}}
