{:linters
 {:unused-namespace {:exclude [clojure.tools.logging
                               juxt.site.logging]}
  :unused-referred-var {:exclude {juxt.test.util [with-fixtures]
                                  clojure.pprint [pprint]
                                  juxt.site.logging [with-logging]
                                  clojure.test [deftest is are]}}}}
