{:deps #{"https://example.org/openid/auth0/issuer"
         "https://example.org/openid/callback"
         "https://example.org/openid/auth0/client-configuration"
         "https://example.org/actions/install-openid-login-endpoint"
         "https://example.org/permissions/system/install-openid-login-endpoint"}
 :create
 {:juxt.site/subject-id "https://example.org/subjects/system"
  :juxt.site/action-id "https://example.org/actions/install-openid-login-endpoint"
  :juxt.site/input
  {:xt/id "{{$id}}"
   :juxt.site/openid-client-configuration "https://example.org/openid/auth0/client-configuration"
   :juxt.site/session-scope "https://example.org/session-scopes/openid"}}}
