{:juxt.jinx.alpha/id :juxt.site.alpha/resource

 :juxt.jinx.alpha/type :object

 :juxt.jinx.alpha/required
 [:xt/id
  :juxt.spin.alpha/methods]

 :juxt.jinx.alpha/properties
 {:xt/id {:juxt.jinx.alpha/type :uri}

  :juxt.spin.alpha/methods
  {:juxt.jinx.alpha/type :array
   :juxt.jinx.alpha/items {:juxt.jinx.alpha/type :keyword}}

  :juxt.spin.alpha/representations
  {:juxt.jinx.alpha/type :array
   :juxt.jinx.alpha/items
   {:juxt.jinx.alpha/ref :juxt.spin.alpha/representation}}

  :juxt.spin.alpha/max-content-length
  {:juxt.jinx.alpha/type :integer}

  :juxt.spin.alpha/acceptable
  {:juxt.jinx.alpha/type :object
   :juxt.jinx.alpha/properties
   {"accept" {:juxt.jinx.alpha/type :string}
    "accept-charset" {:juxt.jinx.alpha/type :string}
    "accept-encoding" {:juxt.jinx.alpha/type :string}
    "accept-language" {:juxt.jinx.alpha/type :string}}}

  ;; This will reference another resource
  :juxt.spin.alpha/replacement
  {:juxt.jinx.alpha/type :uri
   :juxt.jinx.alpha/description
   "Used to indicate this resource has moved permanently. Responses from this
   resource should have a status code of 301."}}}
