{:create
 {:juxt.site/subject-id "https://example.org/subjects/system"
  :juxt.site/action-id "https://example.org/actions/grant-permission"
  :juxt.site/input
  {:xt/id "https://example.org/permissions/get-not-found"
   :juxt.site/action "https://example.org/actions/get-not-found"
   :juxt.site/purpose nil}}}
