<body>
  <h1>Site: Request Data</h1>

  <p>This is a dump of data gathered for a <strong><tt>{{ ring..request/method|name|upper }}</tt></strong> request that was made to <tt>{{ juxt..site..alpha/uri }}</tt> at <tt>{{ juxt..site..alpha/date|date:"yyyy-MM-dd HH:mm:ss" }}</tt>.<p>
  <p>After {{ juxt..site..alpha/duration-millis }}ms a response was returned with the status code {{ ring..response/status }}.</p>

  {% if juxt..site..alpha/errors %}
  <h2>Error traces</h2>
  {% for error in juxt..site..alpha/errors %}
  <div>
    <dl>
          <dt>Message</dt>
          <dd><code>{{ error.message }}</code></dd>
          {% if error.ex-data %}
          <dt>Data</dt>
          <dl><code>{{ error.ex-data }}</code></dl>
          {% endif %}
          <dt>Stack</dt>
          <dd><pre>
{% for el in error.stack-trace %}{{ el }}
{% endfor %}</pre></dd>
    </dl>
  </div>
  {% endfor %}
  {% endif %}

  <h2>Summary</h2>

  <table>
    <tbody>
      <tr>
        <td>Status</td><td><tt>{{ ring..response/status }}</tt></td>
      </tr>
      <tr>
        <td>Date</td><td><tt>{{ juxt..site..alpha/date }}</tt></td>
      </tr>
      <tr>
        <td>URI</td><td><tt>{{ juxt..site..alpha/uri }}</tt></td>
      </tr>
    </tbody>
  </table>

  <h2>All data</h2>

  {% debug %}

</body>
