{:roles
 {}

 :users
 {
  "/_crux/pass/users/juxtmal"
  {:name "Malcolm Sparks"
   :email "mal@juxt.pro"
   :password "HarryFord1782"}}

 ;; Rules have targets which match a request context
 ;; A target is a set of constraints
 ;; There are some pre-bound symbols that can be used in these constraints:
 ;; request - a Crux entity representing the request
 ;; resource - a Crux entity representing the resource
 ;; (coming soon: action and environment)
 ;;
 ;; A rule has an effect, either to allow or deny the request If the rule is
 ;; allowed, further 'advice' is provided which can be used by the system to
 ;; restrict visibility (e.g. limiting-clauses)
 :rules
 {
  "/_crux/pass/rules/accessible-public-resources"
  {:description "PUBLIC resources are accessible to GET"
   :target [[request :request-method #{:get :head :options}]
            [resource :juxt.pass.alpha/classification "PUBLIC"]]
   :effect :allow}

  }}
