{:openapi "3.0.2"
 :info
 {:version "1.0.0"
  :title "JUXT Card"
  :description
  "Project Management. Zettelkasten, Kanban and more"
  :contact
  {:name "Malcolm Sparks"
   :email "mal@juxt.pro"
   :url "https://juxt.pro"}}
 :servers [{:url "/apps/card"}]

 :paths
 {"/cards"
  {:get
   {:responses
    {200 {:crux/query
          {:find [e]
           :where [[e :type t]]
           :args [{t "Card"}]}

          :content
          {"application/json"
           {:schema
            {:type "array"
             :items {"$ref" "#/components/schemas/IdentifiedCard"}}}

           "text/html;charset=utf-8" {:title "Cards"
                                      :type "edn-table"}}}}}}

  "/cards/{id}"
  {:get
   {:parameters
    [{:name "id"
      :in "path"
      :description "Org id"
      :required true
      :schema {:type "string"}}]

    :responses
    {200
     {
      :content
      {"application/json" {:schema {"$ref" "#/components/schemas/Card"}}
       "text/html;charset=utf-8" {:type "template"
                                  :title "Card"}}}}}

   :put
   {:parameters
    [{:name "id"
      :in "path"
      :required true
      :schema {:type "string"}}]
    :requestBody
    {:required true
     :content
     {"application/json" {:schema {"$ref" "#/components/schemas/Card"}}}}
    :responses
    {200 {:description "Card successfully updated"
          :content
          {"text/plain;charset=utf-8" {}}}

     201 {:description "Card successfully created"
          :content
          {"text/plain;charset=utf-8" {}}}}}}}

 :components
 {:schemas
  {"Identified"
   {"$id" "/schemas/Identified"
    :type "object"
    :description
    "The unique identifier of the document in the database. This is maps
    directly to the crux.db/id attribute."
    :required ["id"]
    :juxt.jinx.alpha/keyword-mappings {"id" "crux.db/id"}
    :properties
    {"id"
     {:type "string"
      :format "uri-reference"
      :juxt.jinx.alpha/as "uri"}}}

   "Typed"
   {"$id" "/schemas/Typed"
    :type "object"
    :required ["type"]
    :juxt.jinx.alpha/keyword-mappings {"type" "type"}
    :properties
    {"type"
     {:type "string"
      :minLength 1}}}

   "Card"
   {"$id" "/schemas/Card"
    :allOf
    [{"$ref" "#/components/schemas/Typed"}
     {:type "object"
      :juxt.jinx.alpha/keyword-mappings {"title" "card/title"
                                         "state" "card/state"}
      :properties
      {"type" {:const "Card"}
       "title" {:type "string"
                :minLength 1}
       "state" {:type "string"
                :minLength 1}}}]}

   "IdentifiedCard"
   {"$id" "/schemas/IdentifiedCard"
    :allOf
    [{"$ref" "#/components/schemas/Identified"}
     {"$ref" "#/components/schemas/Card"}]}}}}
