{:deps
 #{"https://example.org/users/alice"
   "https://example.org/actions/put-user-identity"
   "https://example.org/permissions/system/put-user-identity"}
 :create
 {:juxt.site/subject-id "https://example.org/subjects/system"
  :juxt.site/action-id "https://example.org/actions/put-user-identity"
  :juxt.site/input
  {:xt/id "{{$id}}"
   :juxt.site/user "https://example.org/users/alice"
   :juxt.site/username "alice"
   :juxt.site/password "garden"}}}
