{:create
 {:juxt.site/subject-id "https://example.org/subjects/system"
  :juxt.site/action-id "https://example.org/actions/grant-permission"
  :juxt.site/input
  {:xt/id "https://example.org/hospital/permissions/{{username}}/list-patients"
   :juxt.site/action "https://example.org/hospital/actions/list-patients"
   :juxt.site/user "https://example.org/users/{{username}}"
   :juxt.site/purpose nil}}}
