[Unit]
Description=Site

[Service]
Type=simple
Environment="DISPLAY=:0"
Environment="MALLOC_ARENA_MAX=2"
ExecStart=/home/site/site/bin/site-server
ExecReload=kill -HUP $MAINPID

Restart=always
User=site
WorkingDirectory=/home/site/site

[Install]
WantedBy=multi-user.target
