{:xt/id "https://juxt.site/packages/whoami"
 :description "whoami resources"
 :dependencies
 ["https://juxt.site/packages/core"]
 :resources
 ["https://example.org/permissions/whoami"
   "https://example.org/whoami"
   "https://example.org/whoami.json"
   "https://example.org/whoami.html"]}
