;; Copyright © 2021, JUXT LTD.

{:ig/system
 {:juxt.site.alpha.db/crux-node
  {:crux.http-server/server {:port 3000}

   :crux/index-store
   {:kv-store {:crux/module crux.rocksdb/->kv-store
               :db-dir "db/current/idxs"}}

   :crux/document-store
   {:kv-store {:crux/module crux.rocksdb/->kv-store
               :db-dir "db/current/docs"}}

   :crux/tx-log
   {:kv-store {:crux/module crux.rocksdb/->kv-store
               :db-dir "db/current/txes"}}}

  :juxt.site.alpha.selmer/cache
  {:cache? false}

  :juxt.site.alpha.server/server
  {:crux-node #ig/ref :juxt.site.alpha.db/crux-node
   :port 8082}}}
