{:deps
 #{"https://example.org/session-scopes/default"
   "https://example.org/actions/install-authorization-server"
   "https://example.org/permissions/system/install-authorization-server"
   "https://example.org/actions/oauth/authorize"}
 :create
 {:juxt.site/subject-id "https://core.example.org/subjects/system"
  :juxt.site/action-id "https://example.org/actions/install-authorization-server"
  :juxt.site/input
  {:xt/id "{{$id}}"
   :juxt.http/content-type "text/html;charset=utf-8"
   :juxt.http/content "<p>Welcome to the Site authorization server.</p>"
   :juxt.site/session-scope "https://example.org/session-scopes/default"}}}
